<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>FW - base</title>
    {% endblock %}
</head>
<body>
    <h1>Federico's WebPage</h1>
    <hr>
    {% include 'main/navbar.html' %}
    <hr>

    {% if not user.is_authenticated %}
        <p>You are not logged in, please log in to access all the content</p>
    {% endif %}

    {% block header %}
    <p>Error:header block - Empty</p>
    {% endblock %}

    {% block body %}
    <p>Error: Body block - Empty</p>
    {% endblock %}

</body>
</html>