{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>FW - Home</title>
    {% endblock %}
</head>
<body>

    {% block header %}
    <h3>Homepage</h3>
    {% endblock %}

    {% block body %}
    <p>Hi there, this is FW and here it's my first Web page. Hope you enjoy it</p>
    <p>To do's lists stored in our database:</p>

    {% for item in list_array %}
    <a href="http://127.0.0.1:8000/list/{{item.id}}">{{item}}</a>
    <p></p>
    {% endfor %}

    {% endblock %}

</body>
</html>