{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>FW - List</title>
    {% endblock %}
</head>
<body>

    {% block header %}
    <h3>List view: {{list_obj.name}}</h3>
    {% endblock %}

    {% block body %}
    <p>list ID number: {{list_number}}</p>
    <a>For further details click</a>
    <a href="http://127.0.0.1:8000/list/{{list_number}}/detail">here</a>
    <hr>
    <a href="{% url 'main:home' %}">Goback to "To do Lists"</a>
    {% endblock %}
</body>
</html>