{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>FW - Sign UP</title>
    {% endblock %}
</head>
<body>

    {% load crispy_forms_tags %}

    {% block header %}
        <h3>Sign UP</h3>
    {% endblock %}

    {% block body %}
        <p>Create your account:</p>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    {% endblock %}
</body>
</html>